
img {
    width : 280px;
    height: 230px;
    position: relative;
    bottom: 180px;
}
h1 {
    text-align: center;
    border: inset midnightblue 7px;
    margin-right: 400px;
    margin-left: 400px;
    font-family: "Javanese Text";
    color: white;
    font-size: xx-large;
    line-height: unset;
}
h2 {
    text-align: center;
    border: inset midnightblue 7px;
    margin-right: 380px;
    margin-left: 380px;
    font-family: "Javanese Text";
    color: white;
    font-size: x-large;
    line-height: unset;
}
.theme1 {
    position: absolute;
    left: 300px;
    bottom: -230px;
    border: outset darkslategray 8px;
    padding: 70px 30px 70px 30px;
    margin-bottom : 90px;
    color: white;
    box-shadow: 10px 5px 5px black;
}
.theme2 {
    position: absolute;
    left: 600px;
    bottom: -230px;
    border: outset darkslategray 8px;
    padding-top: 70px ;
    padding-bottom: 70px;
    margin-bottom : 90px;
    color: white;
    box-shadow: 10px 5px 5px black;
}
.theme3 {
    position: absolute;
    left: 900px;
    bottom : -230px;
    border: outset darkslategray 8px;
    padding : 70px 30px 70px 30px;
    margin-bottom : 90px;
    color: white;box-shadow: 10px 5px 5px black;
}
#description {
    position : relative;
    left: 420px;
    bottom: 230px;
    top: -280px;
    display: block;
    border: inset midnightblue 5px;
    margin-top: 80px;
    margin-bottom: 40px;
    margin-right: 900px;
    padding: 5px 20px 5px 20px;
    text-shadow: 1px 1px 8px whitesmoke;
}

#social {
    position: absolute;
    bottom: -200px;
    border: outset darkslategrey 2px;
    margin-left: 25%;
    margin-top: 10%;
    text-decoration: none;
    color: crimson;
    box-shadow: 10px 5px 9px black;

}

body {
    background :rgb(59,103,158); /* Old browsers */
    background: -moz-linear-gradient(-45deg, rgb(59,103,158) 0%, rgb(43,136,217) 50%, rgb(32,124,202) 51%, rgb(125,185,232) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, rgb(59,103,158) 0%,rgb(43,136,217) 50%,rgb(32,124,202) 51%,rgb(125,185,232) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, rgb(59,103,158) 0%,rgb(43,136,217) 50%,rgb(32,124,202) 51%,rgb(125,185,232) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3b679e', endColorstr='#7db9e8',GradientType=1 );
    font-family: 'K2D', sans-serif;
    font-size: medium;
    text-decoration-color: forestgreen;
}

#page {
    margin: auto;
    width: 80%;
}

a:hover {
    background-color: crimson;
    color: black;
}